{% extends "base.html" %}

{% block head_content %}
    <title>Gestión Eventos - Mis Eventos</title>
{% endblock%}

{% block container %}
    <div class="container">
        <!-- Inicio: Nombre -->

        <div class="row">
            <h1>Bienvenido {{ request.user.username }}</h1>
        </div>

        <!-- FIN: Nombre-->

        <div class="row">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2> Lista de tus <b>Eventos</b></h2>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <td align="center"> <b> Nombre </b> </td>
                            <td align="center"> <b> Categoría </b> </td>
                            <td align="center"> <b> Lugar </b> </td>
                            <td align="center"> <b> Dirección </b> </td>
                            <td align="center"> <b> Fecha Inicio </b> </td>
                            <td align="center"> <b> Fecha Fin </b> </td>
                            <td align="center"> <b> Fecha Creación</b> </td>
                            <td align="center"> <b> Tipo de Evento </b> </td>
                            <td align="center"> <b> Acciones </b> </td>
                        </tr>
                    </thead>
                    <tbody>

                        <!-- INICIO: Tablas -->
                        {% for event in events %}
                            <tr>
                                <td>{{ event.event_name }}</td>
                                <td align="center">{{ event.event_category.category_description }}</td>
                                <td align="center">{{ event.event_site }}</td>
                                <td align="center">{{ event.event_address }}</td>
                                <td align="center">{{ event.event_start_date }}</td>
                                <td align="center">{{ event.event_end_date }}</td>
                                <td align="center">{{ event.event_create_date }}</td>
                                <td align="center">{{ event.event_type.event_type_description }}</td>
                                <td align="center">
                                    <a href="{% url 'events:edit' %}?event={{ event.pk }}" class="edit">
                                        <i class="glyphicon glyphicon-pencil" data-toggle="tooltip" title="Editar"></i>
                                    </a>
                                    <a href="{% url 'events:delete' %}?event={{ event.pk }}" class="delete">
                                        <i class="glyphicon glyphicon-trash" data-toggle="tooltip" title="Borrar"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}                
                        <!-- FIN: Tablas-->

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
{% endblock %}